# Ignore node_modules
node_modules/

# Ignore environment variables
.env
.env.local

# Ignore build artifacts
dist/
*.exe

# Ignore OS temporary files
.DS_Store
Thumbs.db

cuniBTCReward
config-hoodi.yaml
logs/